<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LastDay</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']"
                        [routerLinkActiveOptions]="{exact: true}">Acasa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/coletele-mele']" [routerLinkActive]="['active']">Coletele mele</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/courieri']" [routerLinkActive]="['active']">Courieri</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <a [routerLink]="['adauga-pachet']" class="btn btn-outline-success">Comanda curier</a>
            </form>
        </div>
    </div>
</nav>